mujoco==3.3.0
# mujoco-py==2.1.2.14
numpy==1.26.4
scipy==1.12.0
gym
jax==0.4.19  
jaxlib==0.4.19
flax==0.7.5
dm_control==1.0.28
brax==0.0.16
imageio
tfp-nightly==0.20.0.dev20230524
wandb
ml_collections
gymnasium
